/* import BatmanForeverAlternate from '../fonts/batmfa__.ttf';
 */

@font-face {
  font-family: 'BatmanForeverAlternate';
  font-style: normal;
  font-weight: normal;
  src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.woff') format('woff');
  /* src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.ttf') format('ttf'); */
}

/* .bg {
  background-color: #000;
} */

.container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  max-width: 1000px;
  /* align-items: center; */
  margin: auto;
}

.subheader {
  font-family: 'BatmanForeverAlternate';
  font-size: 48px;
}

.body {
  font-size: 18px;
  font-family: Helvetica;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #fff;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.section {
  padding: 20px;
  width: 100%;
}

/* .section:nth-child(even) {
  background: #000;
}

.section:nth-child(even) .subheader {
  color: #fff;
} */

.cell {
  display: flex;
  justify-content: center;
}

.nav {
  background-color: #000;
  display: flex;
  padding: 10px;
}

.logo-container {
  display: flex;
  height: 65px;
  text-decoration: none;
}

.nav-logo {
  width: 65px;
  height: 65px;
  margin: 0;
}

.logo {
  margin-top: 50px;
  height: 300px;
  width: 300px;
}

.team-name {
  font-family: 'BatmanForeverAlternate';
  color: #fff;
  margin-left: 10px;
  font-size: 26px;
  display: flex;
  align-items: center;
  /* font-size: 60px;
  margin-top: 50px; */
}

.roster {
  display: flex;
  flex-direction: column;
}

.roster-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 15px;
}

.team-member {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px; 
}

.team-member-name {
  font-family: 'BatmanForeverAlternate';
  font-size: 16px;
}

.avatar {
  border-radius: 50px;
  width: 100px;
}

.section-discord {
  display: flex;
  margin-top: 50px;
}

.section-discord-item {
  display: flex;
  /* align-items: center; */
}

.discord-logo {
  width: 110px;
}

.discord-text {
  color: #fff;
  font-family: 'BatmanForeverAlternate';
  text-decoration: none;
  padding-left: 20px;
  padding-top: 40px;
}

.discord-text:hover {
  cursor: pointer;
}

.footer {
  color: white;
  font-family: 'BatmanForeverAlternate';
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.twitter-name {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .logo {
    height: 250px;
    width: 250px;
    border: 1px solid black;
  }

  .team-name {
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    line-height: 1.25;
  }

  .section-discord {
    display: flex;
    margin-top: 25px;
  }

  .discord-text {
    padding-top: 25px;
  }

  .discord-logo {
    width: 80px;
  }

  .footer {
    margin-top: 5px;
  }
}