/* import BatmanForeverAlternate from '../fonts/batmfa__.ttf';
 */

@font-face {
  font-family: 'BatmanForeverAlternate';
  font-style: normal;
  font-weight: normal;
  src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.woff') format('woff');
  /* src: local('BatmanForeverAlternate'), url('../fonts/batmfa__.ttf') format('ttf'); */
}

.bg {
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 720px;
  align-items: center;
  margin: auto;
}

.cell {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 50px;
  height: 300px;
  width: 300px;
}

.team-name {
  font-family: 'BatmanForeverAlternate';
  color: #fff;
  font-size: 60px;
  margin-top: 50px;
}

.section-discord {
  display: flex;
  margin-top: 50px;
}

.section-discord-item {
  display: flex;
  /* align-items: center; */
}

.discord-logo {
  width: 110px;
}

.discord-text {
  color: #fff;
  font-family: 'BatmanForeverAlternate';
  text-decoration: none;
  padding-left: 20px;
  padding-top: 40px;
}

.discord-text:hover {
  cursor: pointer;
}

.footer {
  color: white;
  font-family: 'BatmanForeverAlternate';
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.twitter-name {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  .logo {
    height: 250px;
    width: 250px;
  }

  .team-name {
    margin-top: 25px;
    font-size: 45px;
    text-align: center;
    line-height: 1.25;
  }

  .section-discord {
    display: flex;
    margin-top: 25px;
  }

  .discord-text {
    padding-top: 25px;
  }

  .discord-logo {
    width: 80px;
  }

  .footer {
    margin-top: 5px;
  }
}